/* CSS Stylesheet */

header {
    text-align: center;
}

table { 
    border-collapse: collapse;
    width: 75%; 
    margin-left: auto;
    margin-right: auto;
}


footer {
    text-align: center;
}

.fondo {
    background-image: url("../images/fondoweb.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}


.fondoseccionEEUU {
    background-color: #ccc2c2cd;
    border-radius: 20px; 
}

.fondoseccionEspaña {
    border-radius: 20px; 
    background-color: rgba(191, 47, 47, 0.5);
}

.fondoseccionEuropa {
    background-color: rgba(154, 162, 226, 0.5);
    border-radius: 20px; 
}

.estilodelmain {
    margin: 20px; 
}

.estiloarticulosNBA,
.estiloarticulosEspaña,
.estiloarticulosEuropa {
    background-color: #e7a5a5;
    border-radius: 10px; 
    margin: 15px; 
    padding: 10px; 
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.estiloarticulosNBA img,
.estiloarticulosEspaña img,
.estiloarticulosEuropa img {
    width: 100%;
    
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}


.formulario {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 2px solid #c4a9a9;
    border-radius: 10px;
    background-color: rgba(142, 135, 135, 0.5);
}



.botonesformulario input[type="reset"],
.botonesformulario button[type="submit"] {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;¡
}

@font-face {
    font-family: 'Exo 2';
    src: url('https://fonts.google.com/specimen/Exo+2') format('truetype');
}

body {
    font-family: 'Exo 2', sans-serif;
}
